<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Caste</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <main class="content">
      <header>
        <nav role="navigation">
          <a href="#">
            PROJECT
          </a>
          <a href="#">
            VISUAL
          </a>
          <a href="#">
            <img src="/images/header-logo.png" alt="logo">
          </a>
          <a href="#">
            CONTACT
          </a>
          <a href="http://store.castequality.com">
            STORE
          </a>
        </nav>
      </header>

      <section class="blog">
        <section class="posts">
          {% for post in site.posts %}
          <article class="post">
            <h1 class="name">
              {{ post.title }}
              <time>{{ post.date | date_to_string }}</time>
            </h1>

            <p class="body">
            {{ post.content }}
            </p>
          </article>
          {% endfor %}
        </section>
      </section>
    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
