<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <main class="content">
      {% include header.html %}

      <article class="post">
        <h1 class="name">
          <time>{{ page.date | date_to_string }}</time>
          {{ page.title }}
        </h1>

        <p class="body">
        {{ page.content }}
        </p>
      </article>
    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
