<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <main class="content">
      {% include header.html %}

      <article class="project">
        <ul class="projects">
          {% for project in site.projects %}
            <li>
              <a href="{{ project.url }}">
                {{ project.numeral }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <section data-behavior="carousel">
          {{ content }}
        </section>

        <nav>
          <a data-behavior="previous" class="previous" href="#">previous</a>
          <a data-behavior="next" class="next" href="#">next</a>
        </nav>
      </article>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.8/jquery.jcarousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.8/jquery.jcarousel-control.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
